/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html * {
    /*font-family: 'Montserrat Light' !important;*/
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#collab {
    margin: 0 auto;
    border: 0px solid #38761d;
}

#hallo{
    color: white;
}

#loginName {
    color: #FFBD4A;
}

.col {
    color: white;
    margin: 0;
    padding: 0px;
}

.lab {
    color: #FFBD4A;
    margin: 0;
    padding-right: 30px;
}

h1 {
    color: white;
}

h2 {
  color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

hr {
    color: white;
}

a {
    color: #FFBD4A;
}

p {
    color: white;
}

dd{
    color: white;
}

dt {
    color: white;
}

label {
    color: white;
}

.col-sm-10 {
    color: white;
}

.col-md-4 {
    color: white;
}

.col-sm-2 {
    color: white;
}

.table {
    color: white;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #000000;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
