@{
    ViewData["Title"] = "Hier Titel einfügen";
}

<div class="text-center">
    <h1 class="display-4">Impressum</h1>
    <p></p>
    <p>Florian Schmitt - 1193794</p>
    <p>Sefa Colak - 1081066</p>
    <p>Philipp Rutz - 1366736</p>
    <p>Sergen Günesdogan - 1477438</p>
    <p>Martin Marburger - 1230611</p>
</div>
