@{
ViewData["Title"] = "Collab - Follow your Project";
}

<!--Titelbild und BEgrüßung auf der Startseite-->
<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>im besten Projektmanagement System aller Zeiten.</p>
    <img src="~/img/COLLAB_Final-removebg-preview.png" alt="lul">
</div>

