@{
    ViewData["Title"] = "Nutzerverwaltung,";
}

<div class="text-center">
    <h1 class="display-4">Nutzerverwaltung</h1>
    <div id="vButtons">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary mr-1">Nutzer anlegen</button>
            <button type="button" class="btn btn-primary mr-1">Nutzer bearbeiten</button>
            <button type="button" class="btn btn-danger mr-1">Nutzer löschen</button>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-warning mr-1">Berechtigungen ändern</button>
            <button type="button" class="btn btn-warning mr-1">Ownership ändern</button>
            <button type="button" class="btn btn-warning mr-1">Team ändern</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Rolle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Aaaa</td>
                <td>Bbbb</td>
                <td>Admin</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Cccc</td>
                <td>Dddd</td>
                <td>Nutzer</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Eeee</td>
                <td>Ffff</td>
                <td>Owner</td>
            </tr>
        </tbody>
    </table>
</div>