@model IEnumerable<IvA.Models.ArbeitsPaketModel>

@{
    ViewData["Title"] = "Erledigte";
}

<h1>Mein Dashboard</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ansicht wählen
    </button>
    <div class="dropdown-menu" aria-labelledby="Ansicht">
        <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index">Cards</a>
        <a class="dropdown-item" asp-controller="Dashboard" asp-action="List">Liste</a>
        <a class="dropdown-item active" asp-controller="Dashboard" asp-action="Done">Erledigte To Do</a>
    </div>
</div>

<h2>TEST</h2>
<!--
<h2>Erledigte To Do</h2>
<div>
@foreach (var item in Model)
    {
        
        @if (item.Status == "Fertig") 
        {
        <div class="card bg-success" style="width: 15rem">
            <div class="card-header text-center" style="font-size: 20px; color: black;"><a style="color: white;" asp-action="PaketDetails" asp-controller="Projekte" asp-route-id="@item.ArbeitsPaketId">@item.PaketName</a></div>
            <div class="card-body text-center">
                <p class ="card-text" style="font-size: 15px;">@item.Beschreibung</p>
                <p class="card-text" style="font-size: 20px;">@item.Frist</p>
            </div>
        </div>
        }
    }
 </div>