@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Kein Zugriff";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Sie besitzen keine Berechtigung um diese Seite aufzurufen.</p>
</header>
