@model IvA.Models.AddUserModel

@{
    ViewData["Title"] = "AddUser";
}

<!-- Ansicht mit einem EIngabefeld, um einen User zu einem Projekt hizuzufügen-->
<h1 style="color:#ffa400"><b>Nutzer zum Projekt hinzufügen</b></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserToProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group" type="hidden">
                
                <input asp-for="id" value="@(ViewContext.RouteData.Values["id"])" type="hidden" class="form-control"/>
                <span asp-validation-for="id" type="hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Hinzufügen" class="btn btn-orange" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.RoutingID" class="btn btn-dark" style="color:#ffa400">Zurück zur Projektdetailübersicht</a>
</div>

