@model IvA.Models.Projekte

@{
    ViewData["Title"] = "Projekterstellung";
}

<h1>Erstellen sie ein neues Projekt</h1>

<h4>Projekte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Projektname" class="control-label"></label>
                <input asp-for="Projektname" class="form-control" />
                <span asp-validation-for="Projektname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projektersteller" class="control-label"></label>
                <input asp-for="Projektersteller" class="form-control" />
                <span asp-validation-for="Projektersteller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mitglieder" class="control-label"></label>
                <input asp-for="Mitglieder" class="form-control" />
                <span asp-validation-for="Mitglieder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschreibung" class="control-label"></label>
                <input asp-for="Beschreibung" class="form-control" />
                <span asp-validation-for="Beschreibung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">            
                <input asp-for="Status" type="hidden" class="form-control" />                                 
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
