@model IEnumerable<IvA.Models.ProjektPaketeModel>
@{ ViewData["Title"] = "Project Owner nicht vorhanden"; }

<h1>
    Die angegebene Frist für ein Arbeitspaket darf nicht später sein als die Deadline des Projektes. Bitte passen sie die Frist an!
</h1>
<br />
<a class="btn btn-primary" asp-action="PaketErstellen">Deadline anpassen</a>