@model IvA.Models.ArbeitsPaketModel

@{ ViewData["Title"] = "Arbeitspaket erstellen"; }

<h1>Arbeitspakete erstellen</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaketErstellen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaketName" class="control-label"></label>
                <input asp-for="PaketName" class="form-control" />
                <span asp-validation-for="PaketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschreibung" class="control-label"></label>
                <input asp-for="Beschreibung" class="form-control" />
                <span asp-validation-for="Beschreibung" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Mitglieder" type="hidden" class="form-control" />
                <span asp-validation-for="Mitglieder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zeitbudget" class="control-label">Geplantes Zeitbudget in Stunden</label>
                <input asp-for="Zeitbudget" class="form-control" />
                <span asp-validation-for="Zeitbudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frist" class="control-label"></label>
                <input asp-for="Frist" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="Frist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Status" type="hidden" class="form-control" placeholder="To do" disabled="" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Arbeitspaket erstellen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Projektübersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
