@model IvA.Models.ArbeitsPaketModel

@{ 
    ViewData["Title"] = "Arbeitspaket anpassen";
 }

<h1 style="color: #ffa400"><b>Passen sie die Details des Arbeitspaketes an</b></h1>


<br />

<!-- Formular, mit dem Details zu den Arbeitspaketen angepasst werden können-->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaketAnpassen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArbeitsPaketId" />
            <div class="form-group">
                <input asp-for="ProjektId" type="hidden" class="form-control" />
                <span asp-validation-for="ProjektId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaketName" class="control-label"></label>
                <input asp-for="PaketName" class="form-control" />
                <span asp-validation-for="PaketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschreibung" class="control-label"></label>
                <input asp-for="Beschreibung" class="form-control" />
                <span asp-validation-for="Beschreibung" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Mitglieder" type="hidden" class="form-control" />
                <span asp-validation-for="Mitglieder" class="text-danger"></span>
            </div>
            <div class="form-group">          
                <input asp-for="Zeitbudget" type="hidden" class="form-control" />
                <span asp-validation-for="Zeitbudget" class="text-danger"></span>
            </div>
            <div class="form-group">           
                <input asp-for="VerbrauchteZeit" type="hidden" class="form-control" />
                <span asp-validation-for="VerbrauchteZeit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frist" class="control-label"></label>
                <input asp-for="Frist" class="form-control" />
                <span asp-validation-for="Frist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="To do">To Do</option>
                    <option value="In Bearbeitung">In Bearbeitung</option>
                    <option value="Fertig">Fertig</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Änderungen speichern" class="btn btn-orange" />
            </div>
        </form>
    </div>
</div>

<!-- Rückleitung auf die Paketdetailseite-->
<div>
    <a asp-action="PaketDetails" asp-route-id="@Model.ArbeitsPaketId" class="btn btn-dark" style="color: #ffa400">
        <svg width="25px" height="25px" style="margin-right:10px" viewBox="0 0 16 16" class="bi bi-box-arrow-left" fill="#ffa400" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.354 11.354a.5.5 0 0 0 0-.708L1.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0 0 1h9a.5.5 0 0 0 .5-.5z" />
            <path fill-rule="evenodd" d="M14 13.5a1.5 1.5 0 0 0 1.5-1.5V4A1.5 1.5 0 0 0 14 2.5H7A1.5 1.5 0 0 0 5.5 4v1.5a.5.5 0 0 0 1 0V4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H7a.5.5 0 0 1-.5-.5v-1.5a.5.5 0 0 0-1 0V12A1.5 1.5 0 0 0 7 13.5h7z" />
        </svg>Zurück zu den Paketdetails
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
