@model IvA.Models.ArbeitsPaketModel

@{ ViewData["Title"] = "Verbrauchte Zeit Eintragen"; }

<h1>Tragen sie hier die eingesetzte Zeit für das Arbeitspaket ein</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaketZeit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArbeitsPaketId" />
            <div class="form-group">
                <input asp-for="ProjektId" type="hidden" class="form-control" />
                <span asp-validation-for="ProjektId" class="text-danger"></span>
            </div>
            <div class="form-group">           
                <input asp-for="PaketName" type="hidden" class="form-control" />
                <span asp-validation-for="PaketName" class="text-danger"></span>
            </div>    
            <div class="form-group">               
                <input asp-for="Beschreibung" type="hidden" class="form-control" />
                <span asp-validation-for="Beschreibung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Mitglieder" type="hidden" class="form-control" />
                <span asp-validation-for="Mitglieder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Zeitbudget" type="hidden" class="form-control" />
                <span asp-validation-for="Zeitbudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerbrauchteZeit" class="control-label">Eingesetzte Arbeitszeit für das Paket in Stunden</label>
                <input asp-for="VerbrauchteZeit" class="form-control" />
                <span asp-validation-for="VerbrauchteZeit" class="text-danger"></span>
            </div>
            <div class="form-group">             
                <input asp-for="Frist" type="hidden" class="form-control" />
                <span asp-validation-for="Frist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">                
                    <option value="In Bearbeitung">In Bearbeitung</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zeit eintragen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Projektübersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
