@model IEnumerable<IvA.Models.ProjektPaketeModel>
@{ ViewData["Title"] = "Project Owner nicht vorhanden"; }

<h1>
    Nur der Projekt-Owner darf Projektdetails anpassen oder Projekte löschen. Finger weg!
</h1>
<br />
<a class="btn btn-primary" asp-action="Index">Zurück zur Projektübersicht</a>