@model IvA.Models.Role
@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListRoles</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>