@model IvA.Models.Message

@{
    ViewData["Title"] = "Edit";
}
<!--Diese HTML-Datei dient nur zu Test- und Debuggingzwecken und wird in der Live-Version nicht verwendet-->
<h1>Edit</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MessageID" />
            <div class="form-group">
                <label asp-for="QuellID" class="control-label"></label>
                <input asp-for="QuellID" class="form-control" />
                <span asp-validation-for="QuellID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZielID" class="control-label"></label>
                <input asp-for="ZielID" class="form-control" />
                <span asp-validation-for="ZielID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nachricht" class="control-label"></label>
                <input asp-for="Nachricht" class="form-control" />
                <span asp-validation-for="Nachricht" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
